<!--
Sneyder Navia
fabiansneyder@gmail.com
Copyright 2013
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    </head>
    <body>
        <div id="wrap_login">
            <form>
                <div class="input-group">
                    <span class="input-group-addon">Usuario</span>
                    <input type="text" id="txtLogin" class="form-control" placeholder="Usuario">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Contrase&ntilde;a</span>
                    <input type="text" id="txtPassword" class="form-control" placeholder="Contrase&ntilde;a">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Base de Datos</span>
                    <input type="text" id="txtDB" class="form-control" placeholder="Base de Datos">
                </div>
            </form>
            <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Autenticar</button>
        </div>

        <script src="assets/js/login.js"></script>
    </body>
</html>
