/*
 * Sneyder Navia
 * fabiansneyder@gmail.com
 * Copyright 2013
*/
body{
    padding-top: 70px;
}

body .main_title{
    padding: 0;
    margin-top: 5px;
}

.main_title h1{
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

#admin_panel{
    margin-top: -75px;
}

#admin_panel div.well{
    padding: 8px;
}

#admin_panel ul.nav li.title{
    font-weight: bold;
    border-radius: 4px;
    background: lightgrey;
    padding: 3px;
    margin-bottom: 3px;
}

#admin_panel ul.nav li:not(.selected):hover{
    color: #3c7eb8;
}

#admin_panel ul.nav li.selected{
    background: #cecece;
}

#admin_panel ul.nav li > a{
    padding: 5px;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}

#wrap_login form>*:not(:first-child){
    margin-top: 12px;
}

#wrap_login #btnLogin{
    padding: 6px 12px;
}

#main_panel .content .panel,
#main_panel .content .table{
    font-size: 11px;
}
#main_panel .content .table thead,
#main_panel .content .panel-heading{
    font-size: 12px;
}

#main_panel .content .panel-heading,
#main_panel .content .table tbody tr td,
#main_panel .content .table thead tr th{
    padding: 4px 8px;
}

.mask_loading{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.mask_loading .loading{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: transparent url(../images/loader.gif) no-repeat scroll 0 0;
}

.mask_loading .text{
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    padding: 1px 5px;  
    display: inline-block;
    margin: 5px 0 0;
}